<dialog id="OpenManifest" class="dialog">
    <h2>Enter Manifest:</h2>
    <div>Please enter a Manifest URL. You can find a list of institutions who support IIIF and instructions on how to access a manifest on the <a id="guides" style="margin:0; " href="https://guides.iiif.io/finding_resources/" target="_blank">IIIF Guides Website</a></div>
    <div class="url">
        <input id="url_text" type="text" value="https://iiif-test.github.io/Space/manifests/webb1.json"/>
    </div>
    <div>
        <button id="openButton">Open</button>
    </div>
</dialog> 

