<dialog id="share_dialog" class="dialog">
    <h2>Share</h2>
    <div id="share_img">
        <img id="region_image" src=""/>
    </div>
    <span id="social_shares">
        <div id="download" class="share_opt">
            <a id="download_image" href="#" download="Image.jpg" target="_blank">
                <i class="fa-solid fa-file-arrow-down fa-2xl social_image"></i>
                <div class="share_label">Download image</div>
            </a>
        </div>
        <div id="link" class="share_opt">
            <a id="share_link" href="" target="_blank">
                <i class="fa-solid fa-link fa-2xl social_image"></i>
                <div class="share_label">Shareable link</div>
            </a>
        </div>
        <div id="twitter" class="share_opt">
            <a id="twitter_link" href="https://twitter.com/intent/tweet?url=&text=2&related=IIIF" target="_blank">
                <img class="social_image" src="imgs/twitter.png"/>
                <div class="share_label">Tweet</div>
            </a>
        </div>
    </span>
    <div class="url">
        <input id="url_text" type="text" disabled="true" value="https://glen.github.io/iiif-shareit/index.html?iiif-content=https://iiif-test.github.io/Space/manifests/webb1.json"/>
        <a href="test.html">COPY</a>
    </div>
</dialog>

